<div class="dashboard-container">
  <mat-toolbar class="dashboard-toolbar">

    <button mat-icon-button routerLink="accueille"><mat-icon>dashboard</mat-icon></button>
    <img class="icon" src="assets/img/grad.png"/>
    <h1 class="app-name">Centre de Formation</h1>

    <div class="search-bar mt-4">
      <mat-form-field appearance="fill" class="search-field">
        <input matInput placeholder="Recherche" (keyup)="filterFormations($event)">
      </mat-form-field>
    </div>

    <div class="right mt-3">
      <ul>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <!-- <li>
              <button mat-button [matMenuTriggerFor]="menu">
                  <mat-icon>person_outline</mat-icon>
              </button>
              <mat-menu #menu="matMenu" (click)="logOut()">
                  <mat-icon >exit_to_app</mat-icon>
                  Cerrar Sesión
              </mat-menu>
          </li> -->
        <li>
          <button mat-button (click)="openRegisterDialog()">Inscription Formateur</button>

          <!--<button mat-button color="primary" (click)="openFormateurDialog()">Inscription Formateur</button>-->
        </li>
        <li>
          <button mat-button routerLink="/login">Connexion</button>

        </li>
        <li>
          <button mat-button routerLink="/aboutUs">Sur-Nous</button>

        </li>
      </ul>
    </div>

  </mat-toolbar>

</div>


