.dashboard-container {
  display: flex;
  justify-content: space-between;
  /* Pour aligner les éléments horizontalement */
  align-items: center;
  /* Pour aligner les éléments verticalement */
  width: 100%;
}

.dashboard-toolbar {
  height: 90px;
  width: 100%;
  background-color: rgb(204, 94, 221);
  /* Couleur de fond de la barre d'outils */
  color: rgb(0, 0, 0);
  /* Couleur du texte */
  /*padding: 0 20px;*/
  /* Espacement intérieur */
}

.app-name {
  margin-left: 10px;
  /* Marge à gauche */
  margin-right: 20px;
}

.search-bar {
  margin-left: auto;
  /* Alignement à droite */
  margin-right: 100px;
  /* Marge à droite */
}

.search-field {
  width: 400px;
  /* Ajustez la largeur selon vos préférences */
}

.right ul {
  display: flex;
  align-items: center;
  list-style: none;
 margin-right: 50px;
  /*padding: 0;*/
}

.right li {
  margin-left: 20px;
  /* Marge entre les éléments */
}


.mat-icon {
  color: rgb(0, 0, 0);
  /* Couleur des icônes */
}
.icon{
 width: 50px;
}