.dashboard-container {
  display: flex;
  justify-content: space-between;
  /* Pour aligner les éléments horizontalement */
  align-items: center;
  /* Pour aligner les éléments verticalement */
}

.dashboard-toolbar {
  background-color: #1976d2;
  /* Couleur de fond de la barre d'outils */
  color: white;
  /* Couleur du texte */
  padding: 0 20px;
  /* Espacement intérieur */
}

.app-name {
  margin-left: 10px;
  /* Marge à gauche */
  margin-right: 20px;
}

.search-bar {
  margin-left: auto;
  /* Alignement à droite */
  margin-right: 100px;
  /* Marge à droite */
}

.search-field {
  width: 400px;
  /* Ajustez la largeur selon vos préférences */
}

.right ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right li {
  margin-left: 20px;
  /* Marge entre les éléments */
}


.mat-icon {
  color: white;
  /* Couleur des icônes */
}