<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">

  <!-- empieza toolbar-->
  <mat-toolbar style=" display: flex;justify-content: space-between;align-items: center;background-color:  rgb(117, 99, 234);height:80px" class="dashboard-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon >menu</mat-icon></button>
    <img class="icon" src="assets/img/grad.png"/>
    <h1 class="app-name" style="padding-left:20px;display: flex;justify-content: space-between;align-items: center;margin-bottom:15px ;">Bienvenue, Administrateur</h1>

    <div class="right">
      <ul>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>

            <button mat-button (click)="logOut()">
              <mat-icon>exit_to_app</mat-icon>Déconnexion
            </button>

        </li>
      </ul>
    </div>

  </mat-toolbar>

  <!-- empieza sidenav-->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sidnav" #snav [mode]="mobileQuery.matches? 'over': 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list >
        <!--profile-->
        <div class="profile-card">
          <div class="header">
            <h2>Admin</h2>
            <h4>formationcentre@gmail.com</h4>
          </div>
        </div>

        <mat-divider class="devider"></mat-divider>
  <div class="listsider">
        <a mat-list-item [routerLink]="menuNav[0].route"*ngIf="isAddmin() || isAssistant() || isFormateur()">
          <img class="icono" src="{{ menuNav[0].icon }}" alt="Icon">
          <span class="name">{{menuNav[0].name}}</span>

        </a>

        <a mat-list-item [routerLink]="menuNav[1].route" *ngIf="isAddmin()">
          <img class="icono" src="{{ menuNav[1].icon }}" alt="Icon">
          <span class="name">{{menuNav[1].name}}</span>

        </a>

        <a mat-list-item [routerLink]="menuNav[2].route" *ngIf="isAddmin()">
          <img class="icono" src="{{ menuNav[2].icon }}" alt="Icon">
          <span class="name">{{menuNav[2].name}}</span>

        </a>

        <a mat-list-item [routerLink]="menuNav[3].route" *ngIf="isAddmin()">
          <img class="icono" src="{{ menuNav[3].icon }}" alt="Icon">
          <span class="name">{{menuNav[3].name}}</span>

        </a>

        <a mat-list-item [routerLink]="menuNav[4].route"*ngIf="isAddmin() || isAssistant()">
          <img class="icono" src="{{ menuNav[4].icon }}" alt="Icon">
          <span class="name">{{menuNav[4].name}}</span>

        </a>

        <a mat-list-item [routerLink]="menuNav[5].route" *ngIf="isAddmin()">
          <img class="icono" src="{{ menuNav[5].icon }}" alt="Icon">
          <span class="name">{{menuNav[5].name}}</span>

        </a>
      </div>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
