<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">

  <!-- empieza toolbar-->
  <mat-toolbar style=" display: flex;justify-content: space-between;align-items: center;background-color: rgb(204, 94, 221);hieght:100px" class="dashboard-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon style="margin-buttom:20px;">menu</mat-icon></button>
    <h1 class="app-name" style=" display: flex;justify-content: space-between;align-items: center; margin-buttom:30px;">Bienvenue, Administrateur</h1>

    <div class="right">
      <ul>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>

            <button mat-button (click)="logOut()">
              <mat-icon>exit_to_app</mat-icon>Déconnexion
            </button>

        </li>
      </ul>
    </div>

  </mat-toolbar>

  <!-- empieza sidenav-->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches? 'over': 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list>
        <!--profile-->
        <div class="profile-card">
          <div class="header">
            <h2>Admin</h2>
            <h4>admin.admin.gmail.com</h4>
          </div>
        </div>

        <mat-divider></mat-divider>

        <a mat-list-item [routerLink]="menuNav[0].route">
          <mat-icon class="icono"> {{ menuNav[0].icon }}</mat-icon>
          <span class="name">{{menuNav[0].name}}</span>

        </a>

        <a mat-list-item [routerLink]="menuNav[1].route" *ngIf="isAddmin()">
          <mat-icon class="icono"> {{ menuNav[1].icon }}</mat-icon>
          <span class="name">{{menuNav[1].name}}</span>

        </a>

        <a mat-list-item [routerLink]="menuNav[2].route">
          <mat-icon class="icono"> {{ menuNav[2].icon }}</mat-icon>
          <span class="name">{{menuNav[2].name}}</span>

        </a>

        <a mat-list-item [routerLink]="menuNav[3].route">
          <mat-icon class="icono"> {{ menuNav[3].icon }}</mat-icon>
          <span class="name">{{menuNav[3].name}}</span>

        </a>

        <a mat-list-item [routerLink]="menuNav[4].route">
          <mat-icon class="icono"> {{ menuNav[4].icon }}</mat-icon>
          <span class="name">{{menuNav[4].name}}</span>

        </a>


      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
