
<h2 mat-dialog-title style="color: rgb(52, 52, 248);"><img style="width: 30px;" src="assets/img/entreprise.png" /> {{ estatForm }} une nouvelle entreprise </h2>
<mat-dialog-content>

    <form [formGroup]="entrepriseForm">
        <div class="product-container">

            <mat-form-field>
                <input matInput placeholder="Nom" formControlName="name" required/>
                <mat-error *ngIf="entrepriseForm.get('name')?.hasError('required')">
                    * Nom est obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput  placeholder="Adresse" formControlName="adresse" required />
                <mat-error *ngIf="entrepriseForm.get('name')?.hasError('required')">
                    * Adresse est obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Téléphone" formControlName="tel" required />
                <mat-error *ngIf="entrepriseForm.get('name')?.hasError('required')">
                    * Téléphone est obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput  placeholder="Url" formControlName="url" required />
            <mat-error *ngIf="entrepriseForm.get('name')?.hasError('required')">
                * Url est obligatoire
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput  placeholder="Email" formControlName="email" required />
            <mat-error *ngIf="entrepriseForm.get('name')?.hasError('required')">
                * Email est obligatoire
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field>
          <input matInput  placeholder="type" formControlName="type" required />
      </mat-form-field> -->







        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="entrepriseForm.invalid">
        <mat-icon>save</mat-icon> Enregistrer
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Annuler
    </button>

</mat-dialog-actions>
