<div class="card-container">
  <div *ngFor="let formation of FormationData">
    <mat-card class="example-card">
      <img mat-card-image [src]="formation.imagePath" alt="{{ formation.name }} Image">
      <mat-card-title>{{formation.name}}</mat-card-title>
        <mat-card-subtitle>{{formation.categorie}}</mat-card-subtitle>
        <mat-card-subtitle>{{formation.ville}}</mat-card-subtitle>
        <mat-card-actions>
        <button mat-button >S'inscrire</button>
        <button mat-button  (click)="exploreDetails(formation.id)">Explorer</button>
      </mat-card-actions>
    </mat-card>
    </div>

