.card-container {
  margin-top: 150px;
  margin-left: 70px;
  display: flex; /* Make the accueille-cards-container a flexbox */
 /* flex-wrap: wrap; /* Allow cards to wrap if needed */
  justify-content: space-around;
  align-items: center;
  width: 500px;
  flex-direction: row;
}

.example-card {
  width: 250px;
  margin: 20px; /* Ajustez la valeur en fonction de l'espace souhaité */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.mat-card-actions button {
  margin-right: 150px;
  margin-top: auto; /* Pour pousser les boutons vers le bas */
  display: flex;
  justify-content: flex-end;
}
.example-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.mat-card-header {
  background-color: #f3f3f3;
  padding: 8px;
}

.example-header-image {
  background-size: cover;
}
.example-header-image {
  background-size: cover;
}
.mat-card-image {
  width: 100%;
  height: auto; /* Assurez-vous que la hauteur s'ajuste automatiquement */
  object-fit: cover; /* Pour s'assurer que l'image couvre complètement la zone définie */
  border: 10px solid #636bb4; /* Ajoute une bordure de 2px solide avec une couleur grise */
  border-radius: 50px; /* Ajoute une bordure arrondie */
}
.mat-card-title{
  font-size: 38px;
  font-weight: 500;

}
