<app-header></app-header>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="about-section">
  <h1>Sur Nous</h1>
  <p>Notre centre de formation est un centre de formation agréé et réputé qui propose une large gamme de formations adaptées aux besoins du marché.</p>
  <p>Notre mission est de vous accompagner dans votre développement personnel et professionnel en vous offrant des formations de qualité dispensées par des formateurs expérimentés.</p>
<p>Notre objectif est de vous aider à atteindre vos objectifs et à réaliser vos ambitions.</p>
</div>

<h2 style="text-align:center; padding-top:50px">Nos donnes</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h4 class="button">Nous Valeurs</h4>
        <ul>
          <li>Excellence: Nous offrons des formations de haute qualité répondant aux derniers standards et aux meilleures pratiques.</li>
          <li>Innovation: Nous sommes à la pointe des nouvelles technologies et des méthodes d'apprentissage.</li>
          <li>Engagement: Nous sommes dévoués à la réussite de nos apprenants et leur offrons un suivi personnalisé.</li>
          <li>Accessibilité: Nous proposons des formations adaptées à tous les budgets et à tous les niveaux de qualification.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
       <h4 class="button">Nous Points fort</h4>
      <ul>
        <li>Formateurs expérimentés et passionnés </li>
        <li>Pédagogie innovante et interactive</li>
        <li>Suivi individualisé et personnalisé </li>
        <li>Taux de réussite élevé </li>
        <li>Satisfaction des apprenants</li>
      </ul>
       
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h4 class="button">Contact</h4>

        <p>Notre telephone: 074589213</p>
        <p>Notre gmail: formationcentre@gmail.com</p>
       <p>Notre Url: www.formation.com</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
