
<h2 mat-dialog-title> {{ estatForm }} une nouvelle formation </h2>
<mat-dialog-content>

    <form [formGroup]="formationForm">
        <div class="product-container">

            <mat-form-field>
                <input matInput placeholder="Nom" formControlName="name" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Durration" formControlName="nombreh" required />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Cout" formControlName="cout" required />
            </mat-form-field>

            <mat-form-field>
              <input matInput  placeholder="Programme" formControlName="programme" required />
          </mat-form-field>

          <mat-form-field>
            <input matInput  placeholder="Ville" formControlName="ville" required />
        </mat-form-field>

        <mat-form-field>
          <input matInput  placeholder="Categorie" formControlName="categorie" required />
      </mat-form-field>



            <div>
                <mat-label> Foto: </mat-label>
                <label for="file-upload" class="subir">
                  télécharger  image
                </label>

                <input id="file-upload"
                        accept="image/png, image/jpeg"
                        (change)="onFileChanged($event)"
                        type="file"
                        formControlName="picture"
                        class="input-file"/>
                    <span> {{ nameImg }}</span>
            </div>





        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="formationForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>

</mat-dialog-actions>
