.imag {
    width: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
.card {
    padding-top: 50px;
}
.par {
    font-size: 20px;
    font-weight: bold;
}
.btn {
    margin-top: 10px;
    margin-left: 30px;
    background-color: rgb(104, 104, 230);
    color: antiquewhite;
}
.ng {
    background-color: rgb(104, 104, 230);
}
.h {
    margin-top: 20px;
}