<div class="ng">
<ng-container  *ngIf="groupes.length > 0; else emptyList">
  <img  class="imag" src="assets/img/icon2.jpeg" />
  <mat-card class="card" *ngFor="let groupe of groupes">
    <mat-card-content>
      <p class="par">ID du Groupe:   {{ groupe.id }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="btn" (click)="GivemeFeedBack(groupe.id)">Donne moi votre feedback sur le formateur</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-template #emptyList>
  <p class="par">Cette formation est vide.</p>
</ng-template>
</div>