<h2 mat-dialog-title>Bienvenue</h2>
<mat-dialog-content>
    <form [formGroup]="myForm">
        <div class="product-container">

            <mat-form-field>
                <input matInput placeholder="Nom" formControlName="nom" required />
                <mat-error *ngIf="myForm.get('nom')?.hasError('required')">
                    * Nom obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Prénom" formControlName="prenom" required />
                <mat-error *ngIf="myForm.get('prenom')?.hasError('required')">
                    * Prénom obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" type="email" required />
                <mat-error *ngIf="myForm.get('email')?.hasError('required')">
                    * Email obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Tel" formControlName="tel" type="number" required />
                <mat-error *ngIf="myForm.get('tel')?.hasError('required')">
                    * Tel obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Ville" formControlName="ville" required />
                <mat-error *ngIf="myForm.get('ville')?.hasError('required')">
                    * Ville obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Date de naissance" formControlName="dateNaissance"
                    [matDatepicker]="pickerDateNaissance" matDatepickerFormat="dd/MM/yyyy" />
                <mat-datepicker-toggle matSuffix [for]="pickerDateNaissance"></mat-datepicker-toggle>
                <mat-datepicker #pickerDateNaissance></mat-datepicker>
                <mat-error *ngIf="myForm.get('dateNaissance')?.hasError('required')">
                    * Date de naissance obligatoire
                </mat-error>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-buttons">
    <button mat-raised-button color="primary" (click)="onSubmit()">Enregistrer</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Annuler</button>
</mat-dialog-actions>