

<app-header></app-header>
<div class="bigcontainer" *ngIf="formation">
  <div class="details-container">
  <h2 class="formation-name">{{formation.name }}</h2>
  <div class="bloc-formation">
    <div class="bloc-intern">
    <div class="bloc-image">
      <img [src]="formation.picture" width="50" height="50">
      </div>
     <button mat-raised-button class="w-100" class="inscription" (click)="inscrireFormation(formation.id)">S'inscrire</button>
     <p>voici le contenu de notreformation</p>
     <h6><mat-icon>vedio</mat-icon> desponibilite des vedio</h6>
    </div>
    <ul>
      <li class="list-item">Catégorie: {{ formation.categorie }}</li>
      <li  class="list-item">Durée: {{ formation.nombreh }}</li>
      <li  class="list-item">Prix: {{ formation.cout }}</li>
      <li  class="list-item"> Ville:{{formation.ville}}</li>
    </ul>
  </div>
  <div class="programme">
    {{formation.programme }}
  </div>
</div>
</div>

